body {
  font-family: Impact header;
  font-size: 60 px;
}

header {
  height: 400px;
  padding: 100px 100px 100px 100px; 
  background: url(file:///Users/bonnie/Desktop/code/fewd/04_layout/Assignment/images/header_bg.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

header h1  {
  font-family: Impact;
  font-size: 60px;
  margin-left: 60px;
  margin-bottom: 50px;
  font-weight: bolder;
  text-align: left;
}

header h2 {
  font-family: Impact header;
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 20px;
}

button {
  border: none;
  font-family: impact header;
  padding: 10px 24px;
  border-radius: 5%;
  font-size: 24px;
}

header button {
  color: midnightblue;
  background-color: gold;
}

#value-proposition {
  height: 400px;
  background-color: midnightblue;
  color: white;
  padding: 50px 50px 50px 50px;
  border: 0px;
  margin: none;
  font-size: : 34px;
  box-sizing: border-box; 
}

.image {
  display: inline;
  float: left;
  width: 33%;
  text-align: center;
  height: auto;
}

.image:after {
  content: "";
  clear: both;
  line-height: 0;
  height: 0;
}

#benefits {
  height: 400px;
  background-color: white;
  padding: 100px 100px 100px 100px;
}

#benefits h1 {
  font-weight: bold;
  color: midnightblue;
  font-size: 48px;
  margin-bottom: 40px;
}

#benefits p {
  font-size: 24px;
  margin-bottom: 60px;
}

#today {
  float: left;
  width: 50%;
}

#future {
  float: left;
  width: 50%;
}

#future: after {
  content: "";
  clear: both;
  line-height: 0;
  height: 0;
}

#benefitpt2 h2 {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 40px;
}

#benefitpt2 ul {
  list-style: disc;
  padding-left: 20px;
  font-size: 20px
}

#benefitpt2 li {
  margin-bottom: 20px;
}

#testimonial {
  height: 400px;
  background: url(file:///Users/bonnie/Desktop/code/fewd/04_layout/Assignment/images/testimonial_bg.jpg);
  background-size: cover;
  color: white;
  padding: 100px 100px 100px 100px;
  box-sizing: border-box; 
}

#quote {
  width: 800px;
  font-size: 45px;
  text-align: center; 
  font-style: italic;
  margin: 0 auto;
}

#author {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
}

aside {
  height: 100px;
  background-color: gold;
}

aside button {
  background: midnightblue;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 45%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
}

footer {
  height: 200px;
  background-color: black;
  color: white;
  padding-top: 25px;
  text-align: center; 
}

footer h2 {
  color: gold;
  font-size: 50px;
  margin-bottom: 25px;
}

footer #links {
  text-align: center;
  margin-bottom: 25px;
}

#bloghead {
  height: 50px;
  background: black;
  font-size: 32px;
  padding-top: 10px;
  box-sizing: border-box;
}

.two-columns {
  height: 900px;
  background: grey;
}

.two-columns: after {
  content: "";
  display: table;
  margin: 0, auto;
  clear: both;
}

.two-columns #blogposts {
  background-color: darkgrey;
  height: 900px;
  width: 50%;
  float: right;
}

.two-columns #relaxr {
  background-color: white;
  height: 900px;
  width: 50%;
  float: right;
}

#blogposts #blogpost1 {
  background-color: darkgrey;
  height: 300px;
}

#blogposts #blogpost2 {
  background-color: grey;
  height: 300px;
}

#blogposts #blogpost3 {
  background-color: darkgrey;
  height: 300px;
}

#relaxr p {
  padding: 10px 50px 20px 50px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

#relaxr h1 {
  padding-top: 10px;
  padding-left: 110px;
  font-size: 30px;
  font-weight: bolder;
}

.two-columns #officeimage {
  padding: 0px 50px 50px 60px;
}

#partners h1 {
  text-align: center;
  padding: 10px 50px 20px 50px;

}
#partners ul {
  font-size: 20px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;

}
#partners li {
  padding: 5px 0;
}




